$background-color: #111;
$text-color: #fff;

/* Footer positioning */
footer {
    color: $text-color;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;

    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}