/* Adds padding and border to any element's total width and height */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat, sans-serif';
    src: local('Montserrat'), local('Montserrat');
    font-display: swap;
}

/* Positioning of credit link */
.credit {
    float: left;
    position: absolute;
    bottom: 70px;
    margin-left: 50px;
    color: #ffffff;

    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

/* Link credit to owner of photo */
.credit-link {
    color: #e7e7e7;
    transition: all 1s ease-in-out 0s;
}

/* On Hover Effect of link credit */
.credit-link:hover,
.credit-link:focus {
    color: #000000;
    transition: all 1s ease-in-out 0s;
}

/* put unsplash image behind all classes/fixed position */
#unsplash-image {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

/* Fits unsplash image on any desktop screen */
.imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}